body {
}

.imgUpload {
    width:330px;
    border:1px solid grey;
}

.imageList {
    margin:5px;
    width:1000px;
}

.imageListScroller {
    max-width:700px;
    max-height:70px;
    overflow-x:scroll;
    overflow-y:hidden;
}

.errorMSG {
    margin-top:5px;
    margin-bottom:5px;
    color:red;
}

.sucessMSG {
    margin:2px;
    width:352px;
    height:50px;
    color:white;
    font-size:20px;
    padding-top:13px;
    text-align:center;
    font-family:Arial;
    background: #67bc4d; /* Old browsers */
    background: -moz-linear-gradient(top,  #67bc4d 0%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67bc4d), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #67bc4d 0%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  #67bc4d 0%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67bc4d', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
}

.sucessMSG:hover {
    cursor:pointer;
}

.removeMSG {

    color:black;
    font-size:10px;
}

.bigImage {
    margin-top:10px;
    margin-bottom:10px;
    -webkit-box-shadow: 10px 11px 19px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 11px 19px -2px rgba(0,0,0,0.6);
    box-shadow: 10px 11px 19px -2px rgba(0,0,0,0.6);
}
